@charset "UTF-8";

/* Versão para desktop */

section#login {
    width: 950px;
    height: 370px;
}

section#login > div#imagem {
    width: 50%;
    float: right;
}

section#login > div#formulario {
    width: 50%;
    float: left;
}

div#formulario > h1 {
    font-size: 2em;
}

div#formulario > p {
    font-size: 1.1em;
    margin-bottom: 15px;
}