@charset "UTF-8";

/* Versão para telas pequenas e dispositivos móveis (estilização geral) */

:root {
    /* Paleta de Cores */
    --cor0: #A80B00;
    --cor1: #5C0600;

    /* Fontes de Texto */
    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--cor1);
    background-image: linear-gradient(to top, black, #A80B00);
}

main {
    position: relative;
    min-height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 500px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.450);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    height: 200px;
    background-color: var(--cor1);
    background-image: url(../imagens/2.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login > div#formulario {
    display: block;
    background-color: white;
    height: 300px;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
    border-right-width: 1px;
    border-radius: 8px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    transform: translateY(-12px);
    border: none;
    border-radius: 6px;
    padding-left: 2px;
}

form > input[type=submit] {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:  var(--cor1);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: white;
    color: var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: var(--cor1);
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}






